*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root{
  width: 100%;
}

.container{
  display: flex;
  width: 100vw;
}

.text-in-box{
  background: gainsboro;
  width: 1.8rem;
  height: 1.8rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-container{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 1rem 0;
}

.header-box{
  display: flex;
}

.text-in-box,
.header-text{
  margin: 1rem 0.7rem;
}

.header-text{
  padding: 0.65rem 0;
}

.text-in-box{
  border-radius: 25%;
}

.blue-container{
  background: blue;
  color: white;
}

.img-aside{
  width: 30vw;
  height: 100vh;
}

.img-template{
  margin-right: 5vw;
}

.form-template{
  width: 50vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 5vw;
}

.step-text{
  align-self: flex-start;
  opacity: 50%;
  margin: 2.5rem 0 0 0;
  font-size: 0.8rem;
}

label{
  font-size: 0.8rem;
  margin: 0.2rem 0;
}

.header-text{
  align-self: flex-start;
  margin: 0.5rem 0 1rem 0;
}

hr{
  width: 50vw;
  opacity: 50%;
}

.name-block,
.details-block,
.address-block
{
  display: flex;
  justify-content: space-between;
  margin: 1rem 0;
}

.first-name,
.last-name,
.dob,
.emailAddress,
.address-block{
  display: flex;
  flex-direction: column;
}

.btn-block-one{
  display: flex;
  justify-content: flex-end;
}

.message-block{
  display: flex;
  flex-direction: column;
  width: 100%;
}

.radio-block{
  display: flex;
}

.radio-block div{
  margin: 1rem 2rem 1rem 0;
}

.radio-block div input{
  margin-right: 0.5rem;
}

.btn-block-two{
  display: flex;
  justify-content: flex-end;
  width: 100%;
}

.img-container{
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.checkbox-img{
  border: 1px solid gainsboro;
}

.border-blue{
  border: 1px solid blue;
}

.radio-container div{
  margin: 1rem 0;
}

.radio-container div input{
  margin-right: 0.5rem;
}

.btn-block-three{
  display: flex;
  justify-content: flex-end;
  width: 100%;
}

.btn-blue{
  background: blue;
  color: white;
  padding: 1rem 2rem;
  border-radius: 10px;
}

.btn-back{
  font-weight: 600;
  padding: 1rem;
}

.form-containre-one,
.form-container-two,
.form-container-three{
  margin: 3rem 0 1rem 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.btn-block-one,
.btn-block-two,
.btn-block-three{
  margin: 2rem 0;
}

.first-name-input,
.last-name-input,
.dob-input,
.email-input{
  width: 19rem;
  padding: 1rem;
  border-radius: 10px;
  border: 1px solid gainsboro;
}

.address-input{
  padding: 1rem;
  border-radius: 10px;
  border: 1px solid gainsboro;
}

.err-input{
  border: none;
  border: 1px solid red;
}

.address-block{
  margin: 1rem 0 3rem 0;
}

.message-block{
  margin-top: -3rem; 
}

.img-container{
  margin-top: -3rem;
  margin-bottom: 1.2rem;
}

.err-msg{
  color: red;
}

.form-submit-text{
  width: 100%;
  display: flex;
  justify-content: center;
  color: blue;
}

.visible{
  visibility: visible;
}

.invisible{
  visibility: hidden;
}

.btn-back:hover{
  cursor: pointer;
}

.tick-mark{
  height: 1rem;
  width: 1rem;
}

/* .err-outline{
  outline: 1px solid red;
} */

.msg-input{
  border-radius: 0.5rem;
}

.clickable-images{
  border: none;
  background: transparent;
}

@media screen and (max-width: 1225px) {
  .img-template{
    display: none;
  }
  #root{
    background: #ffffff;
  }
  .container{
    justify-content: center;
  } 
}